@function rem($number){
  @return $number/16 * 1rem
}
@mixin resetBtn() {
  border: none;
  background: none;
  padding: 0;
}
@mixin resetUl() {
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin valign() {
  display: flex;
  align-items: center;
}
@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {color:$color;}
  &::-moz-placeholder          {color:$color;}
  &:-moz-placeholder           {color:$color;}
  &:-ms-input-placeholder      {color:$color;}
}
@mixin rightGap($gap) {
  margin-right: $gap;
  &:last-child {
    margin-right: 0;
  }
}
@mixin leftGap($gap) {
  margin-left: $gap;
  &:first-child {
    margin-left: 0;
  }
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin customCheckReset() {
  display:none;
  & + label span {
    display:inline-block;
    vertical-align:middle;
    cursor: pointer;
  }
}
@mixin diamond($width, $height: $width) {
  display: block;
  background-color: #fff;
  @include size($width, $height);
  transform: rotate(45deg);
}
