extends pug/layout/_base

block content
    section.main-screen
        .container
            h1.main-screen__h1 Lorem Ipsum Generator
            .main-screen__subheading Amet accumsan eu ut erat ultricies
            img.main-screen__flags(src="/images/flags.png", alt="Countries: Japan, Korea etc.", width="389", height="24")
            .main-screen__short Nec volutpat, eros suscipit, amet dolores, et tristique ultricies. Duis justo eu tincidunt. Purus quam metus. Egestas urna ac at, ut nisl convallis eu nunc, varius accusantium scelerisque in neque, orci accumsan porttitor felis neque lectus.
            .main-screen__btns
                a.btn(href="#") Enquire now
                a.btn(href="#") Download factsheet
    section.features.container
        h2 Torquent element
        .row
            .third.feature
                img.feature__icon(src="/images/i1.png", width="113", height="113")
                h3 Nullam nulla
                p Nunc vitae justo wisi, sociis eros nunc metus, ac leo et, in cum. Ut lorem pellentesque, fusce ut rutrum.
            .third.feature
                img.feature__icon(src="/images/i2.png", width="113", height="113")
                h3 Vestibulum porttitor
                p Vel eget venenatis euismod libero. Magna neque, proin taciti fusce donec, dui quis lacus enim laoreet, sit hendrerit dui et.
            .third.feature
                img.feature__icon(src="/images/i3.png", width="113", height="113")
                h3 Eget pharetra
                p Vulputate mollis sed id scelerisque ante a, mauris sed vel fermentum, est tincidunt neque orci nulla posuere pulvinar.
        a.btn(href="#") Enquire now
    section.information.container
        .information__main
            .information__main-txt
                h2 Morbi malesuada est eu vestibulum consequat
                .subheading Vitae ut ultricies etiam lorem sapien
                p Bibendum ante. Ultricies odio aliquam, rhoncus metus parturient dictum faucibus dolor lacus, adipiscing quis. Torquent elementum quisque, parturient velit scelerisque vitae vulputate elit fringilla, sed pellentesque, et morbi. Nullam nulla, vestibulum porttitor amet montes sit, sint eget lorem, diam.
            .information__defs
                img.defs-logo(src="/images/dirac.png", alt="Dirac")
                dl
                    dt Month
                    dd February
                    dt Price
                    dd $3,500
                    dt Duration
                    dd 8 weeks
        .information__faq
            .faq
                input(type="checkbox", id="faq1")
                label(for="faq1") Morbi malesuada est eu

                .faq-inner
                    h3 Learn how to:
                    ul
                        li Duis justo eu tincidunt gestas urna ac at, ut nisl convallis eu nunc, varius accusantium
                        li Purus quam metus. Egestas urna ac at, ut nisl convallis eu nunc, varius accusantium
                        li Scelerisque in neque, orci accumsan porttitor felis neque lectus vestibulum consequat et adipiscing
                        li Sit morbi penatibus, vestibulum nulla
            .faq
                input(type="checkbox", id="faq2")
                label(for="faq2") Lectus nec, donec quis dolor
                .faq-inner
                    p Inner


    section.download
        .container
            h2 Eleifend sodales id quis
            form(id="download-form", action="", method="post")
                .row
                    .half
                        label.visually-hidden(for="fname") First name
                        input(type="text", placeholder="First Name*", required, name="first-name", id="fname")
                    .half
                        label.visually-hidden(for="lname") Last name
                        input(type="text", placeholder="Last Name*", required, name="last-name", id="lname")
                    .half
                        label.visually-hidden(for="email") E-mail
                        input(type="email", placeholder="Email*", required, name="email", id="email")
                    .half
                        label.visually-hidden(for="phone") Telephone
                        input(type="tel", placeholder="Telephone", name="phone", id="phone")
                    .half
                        label.visually-hidden(for="country") Country of residence
                        select(required, name="country", id="country")
                            option(selected) Country of residence*
                            option Japan
                            option Korea
                    .half
                        label.visually-hidden(for="language") Country of residence
                        select(name="language", id="language")
                            option(selected) Language
                            option Japanese
                            option Korean
                    .full
                        label.visually-hidden(for="comments") Comments
                        textarea(placeholder="Comments", name="comments", id="comments")

                    .checkbox-wrapper
                        input(type="checkbox", id="degree", name="degree")
                        label(for="degree") Do you have a bachelor’s degree / minimum of 5 years’ work experience?
                            span
                    .checkbox-wrapper
                        input(type="checkbox", id="level", name="level")
                        label(for="level") Does your level of English meet the minimum requirements indicated in our requirements section?
                            span
                    .checkbox-wrapper
                        input(type="checkbox", id="fees", name="fees")
                        label(for="fees") Do you understand the fees / financing required for this type of course, and do you have the means to pay for this course?
                            span
                    button.btn Download your factsheet
    section.video.container.row
        .half
            h2 Leo massa curae
            p Urna platea urna ante, mauris sint sed in ut id lorem, pellentesque at elementum porttitor donec praesent, eros amet nulla eros nulla, ac luctus ut auctor cras tellus
            a(href="#") Watch the video
        .half
            video

    section.teachers
        .container
            article.teacher
                .teacher__photo
                    img(src="", alt="Teacher 1")
                .teacher__info Pellentesque Elit rutrum, tincidunt ut dolor, elit ut tellus phasellus vitae. Vivamus quam bibendum, ac amet, ridiculus quis urna lobortis sodales consequat enim
            article.teacher
                .teacher__photo
                    img(src="", alt="Teacher 2")
                .teacher__info Pellentesque Elit rutrum, tincidunt ut dolor, elit ut tellus phasellus vitae. Vivamus quam bibendum, ac amet, ridiculus quis urna lobortis
            article.teacher
                .teacher__photo
                    img(src="", alt="Teacher 3")
                .teacher__info Pellentesque Elit rutrum, tincidunt ut dolor, elit ut tellus phasellus vitae. Vivamus quam bibendum, ac amet

    section.students
        .container
            .students__txt
                h2 Eget pharetra mauris
                p Amet dolor aliquet rutrum. Sollicitudin amet scelerisque molestie ornare nec ultrices, mi fusce, venenatis lorem felis aliquam amet ipsum

    section.enquire
        form(id="enquire-form", action="", method="post")
            h2 Enquire now
            .row
                .half
                    label.visually-hidden(for="fname1") First name
                    input(type="text", placeholder="First Name*", required, name="first-name", id="fname1")
                .half
                    label.visually-hidden(for="lname1") Last name
                    input(type="text", placeholder="Last Name*", required, name="last-name", id="lname1")
                .half
                    label.visually-hidden(for="email1") E-mail
                    input(type="email", placeholder="Email*", required, name="email", id="email1")
                .half
                    label.visually-hidden(for="phone1") Telephone
                    input(type="tel", placeholder="Telephone", name="phone", id="phone1")
                .half
                    label.visually-hidden(for="country1") Country of residence
                    select(required, name="country", id="country1")
                        option(selected) Country of residence*
                        option Japan
                        option Korea
                .half
                    label.visually-hidden(for="language1") Country of residence
                    select(name="language", id="language1")
                        option(selected) Language
                        option Japanese
                        option Korean
                .full
                    label.visually-hidden(for="comments1") Comments
                    textarea(placeholder="Comments", name="comments", id="comments1")

                .checkbox-wrapper
                    input(type="checkbox", id="degree1", name="degree")
                    label(for="degree1") Do you have a bachelor’s degree / minimum of 5 years’ work experience?
                        span
                .checkbox-wrapper
                    input(type="checkbox", id="level1", name="level")
                    label(for="level1") Does your level of English meet the minimum requirements indicated in our requirements section?
                        span
                .checkbox-wrapper
                    input(type="checkbox", id="fees1", name="fees")
                    label(for="fees1") Do you understand the fees / financing required for this type of course, and do you have the means to pay for this course?
                        span
                button.btn Enquire now
















