.container {
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row--nowrap {
  flex-wrap: nowrap;
}
.row--justify {
  justify-content: space-between;
}
.row--valign {
  align-items: center;
}
.half {
  width: 50%;
}
.third {
  width:33.3%;
}
.quarter {
  width: 25%;
}