header.header
    .container
        a.header__logo(href="#")
            img(src="/images/logo.png", alt="Logo")
        nav.main-nav
            ul
                li
                    a(href="#") Torquent elementum
                li
                    a(href="#") Marbi
                li
                    a(href="#") Form
                li
                    a(href="#") Leo
                li
                    a(href="#") Lectus
                li
                    a(href="#") Eget