head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")

    title Educational Landing Page
    meta(name="description", content="Educational Landing Page")

    link(rel="stylesheet", href="css/style.css")

